h1{
font-size: 30px;
text-align: center;
color: #de7471
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
}

a{
front-size: 15px;
text_align: center;
color: #100303;
}

img{
font-size: 40px;
}

h2{
font-size: 20px;
font-family: Helvetica, sans-serif
}